/*

///////////////////////////////////////////////////////


//////   ///     ///////   ////    //   ///////   ///
///      ///     ///  //   /// /   //   //        ///
//////   ///     ///////   ///  /  //   //        ///
    //   ///     /// //    ///   / //   //        ///
//////   //////  ///  //   ///    ///   ///////   //////


////////////////////////////////////////////////////////

Domain: solerieu-nicolas.fr
Author: Nicolas Solerieu
Description: _
Version: 1.0

/* -------------------------------------------------------------- 
/* =BASIS
-------------------------------------------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::selection {
  color: #fff;
  background: #2878ff;
}
body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#page {
  z-index: 4;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height:100%;
  transition:all ease 0.6s;
  -webkit-transition:all ease 0.6s;
  -moz-transition:all ease 0.6s;
  -o-transition:all ease 0.6s;
}

/* -------------------------------------------------------------- 
/* =ESSENTIAL CLASSES
-------------------------------------------------------------- */
figure {
  margin: 0;
  max-width: 100%;
  overflow: hidden;
}
.clear {
  clear: both;
}
.hide {
  display: none;
}
.wrapper {
  width: 860px;
  margin: 0 auto;
}
.box {
  padding: 30px 0;
}
.content-404 .box {
  padding: 60px 0;
}


/* -------------------------------------------------------------- 
/* =TYPOGRAPHY
-------------------------------------------------------------- */
p {
  color: #888888;
  margin: 10px 0 23px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 170%;
  font-family: 'Roboto', sans-serif;
}
a {
  outline: none;
  color: #2878ff;
  text-decoration: none;	
}
p a {
  position: relative;
  padding: 0 3px;
  margin: 0 -3px;
}
p a::before {
	background-color: #ffffff;
	content: "";
	height: 0;
	left: 0;
	position: absolute;
	bottom: 0;
	transition: all 0.2s ease 0s;
	width: 100%;
	z-index: -1;
}
p a:hover {
  color: #ffffff;
}
p a:hover::before {
    height: 100%;
    background-color: #2878ff;
}
h3 {
  color: #333333;
  font-size: 1.8em;
}
h4 {
  color: #333333;
}
h5 {
  color: #333333;
  font-size: 1em;
  margin: 15px 0;
}

/* -------------------------------------------------------------- 
/* =ENTRY CONTENT
-------------------------------------------------------------- */
.half-width {
  width: 50%;
  float: left;
  padding: 0 40px 0 0;
}
.full-width {
  width: 100%;
  float: left;
}
.third-width {
  width: 33.33%;
  float: left;
  padding: 0 40px 0 0;
}
.small-text {
  font-size: 14px;
}
.big-text {
  font-size: 1.7em;
  margin: 0;
  line-height: 170%;
}
.big-text.headline-about {
  margin: 0 0 50px 0;
}
.right-col {
  width: 66.66%;
  float: left;
}
.left-col {
  width: 33.33%;
  float: left;
}
.capabilities .box {
  padding: 10px 0 40px 0;
}

/* -------------------------------------------------------------- 
/* =HEADER
-------------------------------------------------------------- */
header {
  width: 100%;
  height: auto;
  transition:all ease 0.6s;
  -webkit-transition:all ease 0.6s;
  -moz-transition:all ease 0.6s;
  -o-transition:all ease 0.6s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
header .box {
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

/* TOP RIGHT SITE NAV */
.site-nav {
  height: 40px;
  margin: 0;
  float: right;
  position: relative;
}
.site-nav-link {
  height: 40px;
  display: inline-block;
  margin: 0 0 0 30px;
  font-size: 15px;
  line-height: 40px;
  color: #d2d2d2;
  transition:all ease 0.6s;
  -webkit-transition:all ease 0.6s;
  -moz-transition:all ease 0.6s;
  -o-transition:all ease 0.6s;
}
.site-nav-link:hover,
.site-nav-link.active {
  color: #2878ff;
}

/* TOP LEFT SITE INFOS */
.site-infos {
  height: 40px;
  float: left;
  position: relative;
  cursor: pointer;
}
.site-infos:hover {
  opacity: 0.8;
}
.site-infos .logo {
  width: auto;
  height: 40px;
  float: left;
  position: relative;
}
.site-infos .notification {
  position: absolute;
  top: 0;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  left: 28px;
  color: #ffffff;
  background: #333333;
  z-index: 8;
  text-align: center;
  font-size: 10px;
  line-height: 18px;
  font-weight: bold;
  display: none;
}
.site-infos .infos {
  height: 40px;
  float: left;
  margin: 0 0 0 20px;
}
.site-infos .infos h1.site-name {
  font-size: 16px;
  font-weight: normal;
  font-weight: 400;
  margin: 3px 0 0 0;
  color: #333333;
}
.site-infos .infos h2.job-title {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  margin: 0;
  color: #999999;
}
.nav-resp-contact {
  display: none;
}

/* TOP RIGHT RESPONSIVE BT */
.responsive-menu-bt {
  position: relative;
  cursor: pointer;
  display: none;
  float: right;
  height: 40px;
  width: 18px;
}
.responsive-menu-bt .burger-bt {
  margin: 20px 15px 0 0;
  position: relative;
  width: 18px;
  height: 2px;
  background: #888888;
    -webkit-transition:all .2s ease-out;
     -moz-transition:all .2s ease-out;
      -ms-transition:all .2s ease-out;
       -o-transition:all .2s ease-out;
          transition:all .2s ease-out;
}
.responsive-menu-bt .burger-bt::before, .responsive-menu-bt .burger-bt::after {
  content:'';
  width: 18px;
  height: 2px;
  background: #888888;
  position: absolute;
  left:0;
    -webkit-transition:all .2s ease-out;
     -moz-transition:all .2s ease-out;
      -ms-transition:all .2s ease-out;
       -o-transition:all .2s ease-out;
          transition:all .2s ease-out;
}
.responsive-menu-bt .burger-bt::before {
  top: -5px;
}
.responsive-menu-bt .burger-bt::after {
  bottom: -5px;
}


/* CLOSE RESPONSIVE MENU */
.close-responsive-menu {
  position: absolute;
  display: none;
  z-index: 4;
  top: 30px;
  right: 20px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.close-responsive-menu .close-bt {
  position: relative;
  z-index: 4;
  top: 9px;
  right: 0px;
  width: 9px;
  height: 2px;
  background: transparent;
    -webkit-transition:all .2s ease-out;
     -moz-transition:all .2s ease-out;
      -ms-transition:all .2s ease-out;
       -o-transition:all .2s ease-out;
          transition:all .2s ease-out;
}
.close-responsive-menu::before, .close-responsive-menu::after {
  content:'';
  width: 18px;
  height: 2px;
  background: #888888;
  position: absolute;
  left:0;
    -webkit-transition:all .2s ease-out;
     -moz-transition:all .2s ease-out;
      -ms-transition:all .2s ease-out;
       -o-transition:all .2s ease-out;
          transition:all .2s ease-out;
}
.close-responsive-menu::before {
  top:9px !important;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.close-responsive-menu::after {
  bottom:7px !important;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}


/* -------------------------------------------------------------- 
/* =INTRO
-------------------------------------------------------------- */
.about .box {
  padding: 50px 0;
}
.headline {
  font-size: 2.2em;
  font-weight: 300;
  line-height: 150%;
  margin: 0 0 50px 0;
}
.col-about {
  float: left;
  width: 33.33%;
  padding: 0 50px 0 0;
}
.contact-link {
  font-size: 15px;
  margin: -8px 0 0 0;
  border: 1px solid  #2878ff;
  padding: 8px 10px;
  border-radius: 3px;
  display: inline-block;
}
.contact-link:hover {
  opacity: 0.6;
}


/* -------------------------------------------------------------- 
/* =SHOTS
-------------------------------------------------------------- */
.shots .wrapper {
  width: 900px;
}
.one-shot {
    float: left;
    width: 29.33%;
    margin: 0 2% 20px 2%;
    background: #ffffff;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}
.one-shot:hover {
    opacity: 0.5;
}
.one-shot figure {
    position: relative;
}
.one-shot figure img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.one-shot figure figcaption {
    padding: 15px 0;
}
.one-shot figure figcaption p {
    color: #888888;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
}
.one-shot figure figcaption h4 {
    color: #333333;
    font-size: 14px;
    margin: 0;
}
.mfp-image-holder .mfp-content {
    max-width: 650px;
}


/* -------------------------------------------------------------- 
/* =JPAGE NAV
-------------------------------------------------------------- */
.holder {
    text-align: center;
    width: 96%;
    margin: 10px 2% 0 2%;
    height: 50px;
    line-height: 50px;
}
.holder a {
    letter-spacing: 6px;
    color: #999999;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.holder a.jp-current {
    color: #2878ff;
}
.jp-previous {
    float: left;
    color: #999999;
    opacity: 0.3;
}
.jp-previous:before {
    content: "\f104";
    display: inline-block;
    font: normal normal normal 26px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 26px;
    -webkit-font-smoothing: antialiased;
}
.jp-next {
    float: right;
    color: #999999;
    opacity: 0.3;
}
.jp-next:before {
    content: "\f105";
    display: inline-block;
    font: normal normal normal 26px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 26px;
    -webkit-font-smoothing: antialiased;
}
.jp-next:hover,
.jp-previous:hover {
    opacity: 0.6;
}

/* -------------------------------------------------------------- 
/* =WORKS
-------------------------------------------------------------- */
.work-list {
  border-top: 4px solid rgba(0,0,0,0.05);
}
.one-work {
  border-bottom: 1px solid rgba(0,0,0,0.05);
  padding: 30px 0;
  margin: 0;
  cursor: pointer;
}
.one-work::after {
  clear: both;
  content: "";
  display: block;
}
.one-work h4 {
  margin: 0;
  height: 70px;
  line-height: 70px;
  font-size:1.7em;
  color: #333333;
  float: left;
  width: 50%; 
}
.one-work .work-desc {
  float: left;
  height: 70px;
  line-height: 70px;
}
.work-desc {
  margin: 0;
}
.arrow-bt {
  position: relative;
  float: right;
  margin: 35px 0 0 0;
  width: 15px;
  height: 2px;
  opacity: 0.2;
  background: #888888;
  -webkit-transition:all .2s ease-out;
   -moz-transition:all .2s ease-out;
    -ms-transition:all .2s ease-out;
     -o-transition:all .2s ease-out;
        transition:all .2s ease-out;
}
.arrow-bt::before, .arrow-bt::after {
  content:'';
  width: 8px;
  height: 2px;
  background: #888888;
  position: absolute;
  right:0;
    -webkit-transform: rotateZ(0);
     -moz-transform: rotateZ(0);
      -ms-transform: rotateZ(0);
       -o-transform: rotateZ(0);
          transform: rotateZ(0);
    -webkit-transition:all .2s ease-out;
     -moz-transition:all .2s ease-out;
      -ms-transition:all .2s ease-out;
       -o-transition:all .2s ease-out;
          transition:all .2s ease-out;
}
.arrow-bt::before {
  top: -3px;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.arrow-bt::after {
  bottom: -3px;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.one-work:hover .arrow-bt {
  width: 25px;
  opacity: 1;
}


/* -------------------------------------------------------------- 
/* =STATS
-------------------------------------------------------------- */
.stats .box {
  border-top: 1px solid rgba(0,0,0,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.one-stat {
  float: left;
  margin: 10px 0;
  width: 20%;
}
.stat-number {
  color: #d8d8d8;
  font-weight: 300;
  display: block;
  font-size: 32px;
}
.stat-label {
  color: #888888;
  display: block;
  font-size: 14px;
}


/* -------------------------------------------------------------- 
/* =SKILLS
-------------------------------------------------------------- */
.one-skill {
    float: left;
    margin: 30px 0;
    width: 20%;
}
.skill-logo {
    color: #d8d8d8;
    display: block;
    font-size: 37px;
}
.skill-label {
    color: #888888;
    display: block;
    margin: 10px 0 0 0;
    font-size: 13px;
}


/* -------------------------------------------------------------- 
/* =FOOTER
-------------------------------------------------------------- */
footer .box {
  border-top: 1px solid rgba(0,0,0,0.05);
  padding: 40px 0 60px 0;
}
footer p {
  font-size: 14px;
}
.footer-left {
  float: left;
  width: 33.33%;
}
.footer-center {
  float: left;
  width: 33.33%;
}
.footer-right {
  float: right;
  width: 33.33%;
}
.footer-right a {
  display: inline-block;
  margin: 0 15px 0 0;
  line-height: 120%;
}


/* -------------------------------------------------------------- 
/* =RESPONSIVE / SCREEN UNDER 1300PX
-------------------------------------------------------------- */
@media screen and (max-width: 1000px) {
.wrapper {
  width: 650px;
  margin: 0 auto;
}
.shots .wrapper {
    width: 680px;
}
p {
  font-size: 14px;
}
.headline {
  font-size: 2em;
}
.contact-link {
  font-size: 15px;
}
.one-work h4 {
  height: 70px;
  line-height: 70px;
  font-size: 1.2em;
  letter-spacing: 0;
}
.col-about {
  padding: 0 20px 0 0;
}
.col-about p {
  margin: 10px 0;
}
.one-work {
  padding: 20px 0;
}
.site-nav-link {
  margin: 0 0 0 20px;
}
.skills .box {
  padding: 0;
}
.status .box {
  padding: 0;
}
.one-shot {
  width: 46%;
}
.footer-right a {
  display: inline-block;
  margin: 0 5px 0 0;
}


/* -------------------------------------------------------------- 
/* =RESPONSIVE / SCREEN UNDER 700PX
-------------------------------------------------------------- */
@media screen and (max-width: 700px) {
.wrapper {
  width: 90%;
  margin: 0 5%;
}
.shots .wrapper {
  width: 92%;
  margin: 0 4%;
}
.responsive-menu-bt {
  display: block;
}
p {
  font-size: 13px;
}
header .box {
  padding: 20px 0;
}
.site-nav {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  margin: 0;
  padding: 50px;
  z-index: 9;
  float: none;
  position: fixed;
}
.site-nav-link {
  display: inline-block;
  width: 100%;
  height: auto;
  line-height: normal;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #888888;
}
.nav-resp-contact {
  display: block;
  text-align: center;
}
.site-nav {
  display: none;
}
.headline {
  font-size: 1.2em;
  margin: 0;
}
.about .box {
  padding: 0;
}
.col-about.first {
  display: none;
}
.col-about.second {
  display: none;
}
.col-about.third {
  width: 100%;
  padding: 0 30px 0 0;
}
.health-box h5 {
  margin: 0 0 25px 0;
}
.skill-text {
  margin: 25px 0 0 0;
}
.one-work h4 {
  width: 100%;
  height: auto;
  font-size: 1em;
  line-height: normal;
}
.one-work .work-desc {
  width: 100%;
  height: auto;
  line-height: normal;
}
.arrow-bt {
  margin: -20px 0 0 0;
}
.one-work {
  padding: 15px 0;
}
.label-social-link {
  font-size: 12px;
  color: #666666;
}
.col-social {
  width: 33.33%;
  padding: 10px 0;
  text-align: center;
}
.social-link {
  font-size: 2em;
}
.footer-left {
  width: 100%;
}
.footer-center {
  width: 100%;
}
.footer-right {
  width: 100%;
}
footer .box {
  padding: 20px 0 30px 0;
}
.big-text {
  font-size: 1em;
  line-height: 170%;
}
.health {
  display: none;
}
.left-col, .right-col {
  width: 100%;
}
.big-text.headline-about {
  margin: 0 0 20px 0;
}
.half-width {
  width: 100%;
  padding: 0 20px 0 0;
}
h3 {
  font-size: 1.2em;
  margin: 0 0 15px 0;
}
.one-shot {
  width: 100%;
  margin: 0 0 20px 0;
}
.capabilities .box {
  padding: 0 0 20px 0;
}
.one-activity__resume .date {
  height: auto;
  float: none;
  width: 100%;
  line-height: normal;
}
.one-activity__resume .resume {
  height: auto;
  float: none;
  width: 100%;
  line-height: normal;
}
.one-activity__resume .achievement {
  height: auto;
  text-align: left;
  float: none;
  width: 100%;
  line-height: normal;
  font-size: 18px;
}
.one-activity {
  padding: 15px 0;
}
.one-skill, .one-stat {
    float: left;
    margin: 15px 0;
    width: 50%;
}

}


