/*

///////////////////////////////////////////////////////


//////   ///     ///////   ////    //   ///////   ///
///      ///     ///  //   /// /   //   //        ///
//////   ///     ///////   ///  /  //   //        ///
    //   ///     /// //    ///   / //   //        ///
//////   //////  ///  //   ///    ///   ///////   //////


////////////////////////////////////////////////////////

Domain: solerieu-nicolas.fr
Author: Nicolas Solerieu
Description: _
Version: 1.0

/* -------------------------------------------------------------- 
/* =BASIS
-------------------------------------------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
::selection {
  color: #fff;
  background: #e74c3c;
}
body {
  background: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
}
#page {
  z-index: 4;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height:100%;
  transition:all ease 0.6s;
  -webkit-transition:all ease 0.6s;
  -moz-transition:all ease 0.6s;
  -o-transition:all ease 0.6s;
}

/* -------------------------------------------------------------- 
/* =ESSENTIAL CLASSES
-------------------------------------------------------------- */
figure {
  margin: 0;
  max-width: 100%;
  overflow: hidden;
}
.clear {
  clear: both;
}
.hide {
  display: none;
}
.wrapper {
  width: 700px;
  margin: 0 auto;
}
.box {
  padding: 30px 0;
}
.content-404 .box {
  padding: 60px 0;
}
.content-page {
  padding: 150px 0 100px 0; 
}

/* -------------------------------------------------------------- 
/* =TYPOGRAPHY
-------------------------------------------------------------- */
p {
  color: #888888;
  font-family: 'Lora', sans-serif;
  margin: 10px 0 23px 0;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.8;
}
a {
  outline: none;
  color: #e74c3c;
  text-decoration: none;
  position: relative;
}
p a {
  font-weight: bold;
}
p a::before {
  content: '';
  border-bottom: 4px solid #e74c3c;
  width: 100%;
  position: absolute;
  left: 0;
  top: 45%;
  transition:all ease 0.3s;
  -webkit-transition:all ease 0.3s;
  -moz-transition:all ease 0.3s;
  -o-transition:all ease 0.3s;
}
p a:hover::before {
    width: 0;
}
h3 {
  color: #333333;
  font-size: 1.8em;
}
h4 {
  color: #333333;
}
h5 {
  color: #333333;
  font-size: 1em;
  margin: 15px 0;
}

/* -------------------------------------------------------------- 
/* =HEADER
-------------------------------------------------------------- */
.site-header {
  width: 100%;
  height: auto;
  padding: 0 30px;
  position: fixed;
  z-index: 9;
}
/* TOP LEFT SITE INFOS */
.site-infos {
  height: 100px;
  float: left;
  position: relative;
  cursor: pointer;
}
.site-infos:hover .logo {
  opacity: 0.9;
}
.site-infos .logo {
  width: auto;
  height: 40px;
  opacity: 0.4;
  float: left;
  position: relative;
  margin: 30px 0;
  transition:all ease 0.3s;
  -webkit-transition:all ease 0.3s;
  -moz-transition:all ease 0.3s;
  -o-transition:all ease 0.3s;
}
/* SITE NAV */
.site-nav {
	height: 100%;
	margin: 0;
	padding: 60px;
	right: -400px;
	top: 0;
	width: 400px;
	position: fixed;
	background: #ffffff;
	z-index: 200;
	-webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-o-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.site-nav.opened {
	-webkit-transform: translateX(-400px);
	transform: translateX(-400px);
}
.overlay-black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
  opacity: 0;
  z-index: 150;
  visibility: hidden;
  -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
}
.overlay-black.displayed {
	opacity: 0.9;
	visibility: visible;
}
.site-nav-link {
  display: inline-block;
  margin: 0;
  width: 100%;
  padding: 15px 0;
  color: #999999;
  transition:all ease 0.3s;
  -webkit-transition:all ease 0.3s;
  -moz-transition:all ease 0.3s;
  -o-transition:all ease 0.3s;
}
.site-nav-link.active {
  color: #e74c3c;
}
.site-nav-link:hover {
  color: #e74c3c;
}
.menu-label {
	font-size: 17px;
	font-weight: bold;
	color: #333333;
	margin: 0 0 30px 0;
}
.menu-bt {
  position: relative;
  cursor: pointer;
  float: right;
  height: 100px;
  line-height: 100px;
  margin: 0 10px;
  font-size: 21px;
  width: 18px;
  color: #333333;
}
.close-menu-bt {
  position: absolute;
  z-index: 4;
  top: 60px;
  font-size: 18px;
  right: 60px;
  width: 18px;
  height: 18px;
  color: #999999;
  cursor: pointer;
}
.menu-bt:hover,
.close-menu-bt:hover {
	opacity: 0.5;
}


/* -------------------------------------------------------------- 
/* =INTRO - ABOUT
-------------------------------------------------------------- */
.about {
  padding: 150px 0 40px 0;
}
h1.site-name {
  font-size: 19px;
  line-height: normal;
  font-family: 'Lora', sans-serif;
  display: inline-block;
  margin: 0;
  color: #333333;
  position: relative;
}
h2.job-title {
  font-size: 11px;
  letter-spacing: 2px;
  line-height: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  color: #999999;
}
.headline {
  font-size: 82px;
  font-family: 'Roboto', sans-serif;
  line-height: 110%;
  font-weight: 700;
  color: #333333;
  margin: 40px 0;
}
.intro-text {
  font-size: 18px;
}


/* -------------------------------------------------------------- 
/* =PACE
-------------------------------------------------------------- */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);
  -webkit-transition: -webkit-transform .5s ease-out;
  -ms-transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
}
.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
  background: #d2d2d2;
  pointer-events: none;
}

/* -------------------------------------------------------------- 
/* =ENTRY CONTENT
-------------------------------------------------------------- */
.half-width {
  width: 50%;
  float: left;
  padding: 0 40px 0 0;
}
.full-width {
  width: 100%;
  float: left;
}
.third-width {
  width: 33.33%;
  float: left;
  padding: 0 40px 0 0;
}
.small-text {
  font-size: 14px;
}
.big-text {
  font-size: 1.8em;
  margin: 0 0 20px 0;
  line-height: 170%;
  font-weight: 700;
  color: #666666;
}
.right-col {
  width: 66.66%;
  float: left;
}
.left-col {
  width: 33.33%;
  float: left;
}

/* -------------------------------------------------------------- 
/* =JOURNAL
-------------------------------------------------------------- */
.one-article {
  padding: 30px 0;
  border-top: 1px solid rgba(0,0,0,0.05);
}
.one-article__title {
  cursor: pointer;
}
.one-article__title::after {
  clear: both;
  content: "";
  display: block;
}
.one-article__title h4 {
  display: inline-block;
  float: left;
  height: 40px;
  line-height: 40px;
  margin: 0;
}
.one-article__title p {
  display: inline-block;
  float: left;
  margin: 0 35px 0 0;
  height: 40px;
  line-height: 40px;
  color: #999999;
  font-size: 13px;
}
.one-article__content {
  padding: 20px 0 0 0;
}
.one-article__content a {
  display: inline-block;
  margin: 0 0 20px 0;
  font-size: 14px;
  font-weight: bold;
}
.one-article__content a:hover {
	opacity: 0.5;
}
.user-section {
  padding: 30px 0;
  border-top: 1px solid rgba(0,0,0,0.05);
}
.user-face {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin: 0 20px 0 0;
}
.user-face img {
  width: 100%;
  display: block;
  height: auto;
}
.user-infos {
  float: left;
}
.user-infos .user-name {
  margin: 5px 0 0 0;
  font-weight: bold;
  color: #333333;
  font-size: 16px;
}
.user-infos .user-name a {
  font-size: 13px;
}
.user-infos .user-detail {
  margin: 0;
  font-size: 13px;
  color: #777777;
}
.bt-back {
  float: right;
  height: 60px;
  font-size: 14px;
  line-height: 60px;
}
.bt-back i {
	margin: 0 0 0 5px;
	display: inline-block;
}
.bt-back:hover {
	opacity: 0.5;
}

/* -------------------------------------------------------------- 
/* =SHOTS
-------------------------------------------------------------- */
.one-shot {
  float: left;
  width: 48%;
  margin: 0 0 20px 0;
}
.one-shot:nth-child(2n) {
	margin: 0 0 20px 4%;
}
.one-shot figure .one-shot__thumb {
  position: relative;
}
.one-shot figure .overlay-shot {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  background: #e74c3c;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition:all ease 0.6s;
  -webkit-transition:all ease 0.6s;
  -moz-transition:all ease 0.6s;
  -o-transition:all ease 0.6s;
}
.one-shot figure .overlay-shot i {
  position: absolute;
  z-index: 3;
  top: 60%;
  left: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: -15px 0 0 -15px;
  color: #ffffff;
  opacity: 0;
  transition:all 0.3s ease 0.3s;
  -webkit-transition:all 0.3s ease 0.3s;
  -moz-transition:all 0.3s ease 0.3s;
  -o-transition:all 0.3s ease 0.3s;
}
.one-shot:hover figure .overlay-shot {
  opacity: 1;
}
.one-shot:hover figure .overlay-shot i {
  opacity: 1;
  top: 50%;
}
.one-shot figure img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
.one-shot figure figcaption {
  padding: 15px 0;
}
.one-shot figure figcaption h4 {
  color: #333333;
  font-size: 16px;
  margin: 0;
}
.mfp-image-holder .mfp-content {
  max-width: 800px;
}



/* -------------------------------------------------------------- 
/* =WORKS
-------------------------------------------------------------- */
.works {
  padding: 0 0 150px 0;
}
.label-works {
  font-size: 14px;
  margin: 0 0 10px 0;
}
.one-work {
  margin: 0;
  margin: 10px 0;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  color: #666666;
}
.one-work .number {
  width: 50px;
  font-size: 1.2em;
  text-align: left;
  color: #666666;
  display: inline-block;
  position: relative;
  font-family: 'Lora', sans-serif;
}
.one-work .number::before {
  height: 4px;
  width: 0;
  left: 0;
  top: 40%;
  background: #e74c3c;
  position: absolute;
  transition:all ease 0.3s;
  content: '';
}
.one-work:hover .number::before {
  width: 80%;
}
.one-work h4 {
  margin: 0;
  font-size:1.6em;
  color: #333333;
  display: inline-block;
  transition:all ease 0.3s;
}
.one-work:hover h4 {
  color: #e74c3c;
}
.one-work .work-desc {
  margin: 0;
  font-size:1.2em;
  color: #666666;
  display: inline-block;
  font-family: 'Lora', sans-serif;
}


/* -------------------------------------------------------------- 
/* =FOOTER
-------------------------------------------------------------- */
footer  {
  padding: 40px 30px;
  margin: 0;
}
footer .copy {
  text-align: center;
  display: block;
  font-size: 14px;
  color: #888888;
  margin: 0 0 15px 0;
}
.footer-links {
  margin: 0;
  text-align: center;
}
.footer-links a {
  display: inline-block;
  margin: 0 10px;
  color: #999999;
  font-size: 24px;
  opacity: 0.5;
}
.footer-links a:hover {
  color: #666666;
  text-decoration: none;
}





/* -------------------------------------------------------------- 
/* =RESPONSIVE / SCREEN UNDER 700PX
-------------------------------------------------------------- */
@media screen and (max-width: 700px) {
.wrapper {
  width: 86%;
  margin: 0 7%;
}
.about {
  padding: 120px 0 40px 0;
}
p {
  font-size: 14px;
}
.headline {
  font-size:36px;
  margin: 40px 0;
}
.intro-text{
  margin: 0 0 30px 0;
}
.big-text {
  font-size: 1em;
  line-height: 170%;
}
.left-col, .right-col {
  width: 100%;
}
.works {
  padding: 0 0 40px 0;
}
.one-work .number {
  display: block;
}
.one-work .work-desc {
  margin: 7px 0 0 0;
  font-size: 13px;
  display: block;
}
.half-width {
  width: 100%;
  padding: 0;
}
h3 {
  font-size: 1.2em;
  margin: 0 0 15px 0;
}
.one-shot {
  width: 100%;
  margin: 0 0 20px 0;
}
.one-shot:nth-child(2n) {
	margin: 0 0 20px 0;
}
.menu-bt {
  margin: 0;
}
.site-header {
  width: 100%;
  height: auto;
  position: absolute;
  padding: 0 25px;
}
.site-nav {
	padding: 50px;
	right: -320px;
	width: 320px;
}
.close-menu-bt {
  top: 50px;
  right: 50px;
}
.site-nav.opened {
	-webkit-transform: translateX(-320px);
	transform: translateX(-320px);
}
.content-page {
  padding: 100px 0 50px 0;
}


}


