#login h1 a { 
    background-image: url("../images/logo-login.png");
    background-size: 50px 50px;
    background-position: center;
    background-color: rgba(0,0,0,0.1);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
}